.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-main);
  font-size: var(--font-variation-settings);
  font-variation-settings: "wght" 400;
  font-weight: var(--font-weight-regular);
  color: var(--accent-color);
  background-color: var(--bg-color);
}

/*начинается голова */

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 20px;
  background-color: #FFFFFF;
  max-width: 700px;
  width: 100%;
  padding-block: 128px;
  margin-block: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-header);
  line-height: var(--h1-line-height);
  font-family: var(--font-accent), sans-serif;
}

.heading__title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  font-family: var(--h2-font-family);
}

/* заканчивается голова */

/* начало меню */

.main__section-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 52px;
  max-width: var(--section-width);
  max-inline-size: 696px;
}

.main__section-list-items {
  background-color: var(--bg-color);
  border: 2px, solid #000;
}

.main__title {
  font-size: var(--text-card-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  padding-inline-start: 10px;
  padding-block: 3px;
  font-variation-settings: "wght" 700;
}

.main__image {
  position: relative;
  display: block;
  line-height: 0;
  overflow: hidden;
}

img {
  inline-size: 100%;
  block-size: 100%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.img-main-filter {
  filter: hue-rotate(50deg) opacity(50%);/* нужно добавить фильтр для всех */
}

.image-one {
  filter: hue-rotate(-34deg) saturate(2.8);
}

.image-two {
  filter: brightness(1.5) contrast(1.4) blur(2px);
}

.image-three {
  filter: brightness(1) saturate(4) contrast(1.2);
}

.image-four {
  filter: sepia(0.1) saturate(5.5);
}

.image-five {
  filter: sepia(1) hue-rotate(-130deg);
}

.image-six {
  filter: brightness(1.9) saturate(2.5);
}

.image-seven {
  filter: brightness(0.4) saturate(4.3);
}

.image-eight {
  filter: grayscale(1) brightness(0.7);
}

.label {
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: #000;
  line-height: 100%;
  inset-block-start: 25px;
  inset-inline-end: 11px;
  text-shadow: 0 0 2px var(--bg-color);
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .label {
    text-shadow: 0 0 2px transparent;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.main__section-list-item {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline: 25px;
  padding-block: 25px;
  font-size: var(--text-card-font-size);
  font-weight: var(--text-card-font-weight);
  font-family: var(--text-card-font-family), sans-serif;
  line-height: var(--text-card-line-height);
}

.heart {
  transition: fill 0.3s ease 0.2s;
}

.card__icon-button {
  min-inline-size: 130px;
}

.like-icon {
  position: absolute;
  display: flex;
  left: -35%;
  bottom: -10%;
  width: 38px;
  height: 38px;
  z-index: 1;
  opacity: 1;
  color: var(--spaks-color);
  transition: fill 0.3s ease;
}

button {
  position: relative;
  background-color: #fff;
  align-self: end;
  align-items: center;
  outline: none;
  overflow: visible;
  transition: box-shadow 0.2s ease;
  padding: 6px 17px;
  cursor: pointer;
  color: #000;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 0;
  color: #fff;
}

button:hover::before {
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

button:focus-visible {
  box-shadow: 2px 2px 0px #000000;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: var(--button-text-font-weight);
  font-family: var(--button-text-font-family), sans-serif;
  line-height: 12.6px;
  mix-blend-mode: difference;
  font-size: var(--font-button-size);
  -webkit-text-combine: horizontal;
}

.core {
  fill: none;
  transition: fill 0.3s ease;
}

.contour .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s linear;
}

.save-button {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  align-self: center;
  cursor: pointer;
  padding-block: 18.5px;
  padding-inline: 19px 21px;
  margin-block-end: 103px;
}

.save-button svg {
  margin-right: 8px;
}

.icon-disc {
  inline-size: 21px;
  block-size: 21px;
}

.floppy-icon {
  position: relative;
  align-self: center;
  z-index: 1;
  color: #000;
  }

dialog {
  position: fixed;
  display: grid;
  justify-content: center;
  max-width: 353px;
  inset: 0;
  border-width: 2px;
  z-index: 1;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.modal-article {
  display: flex;
  flex-direction: column;
  max-width: 293px;
  gap: 30px;
}

.disc {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modal-title {
  width: 234px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'PressStart2P';
  text-transform: uppercase;
}

.modal-button {
  align-self: stretch;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
} 

@media (width <= 375px) {
  .page {
    width: 100%;
  }

  .icon-disc {
    inline-size: 28px;
    block-size: 28px;
  }
}