.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-main);
  font-size: 14px;
  font-variation-settings: "wght" 400;
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  min-inline-size: 375px;
  max-inline-size: 700px;
  margin-block: 100px;
  inline-size: 100vw;
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-color);
  padding: 120px 14px;
  border: 2px solid var(--black-color);
  text-transform: uppercase;
}

.header__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-regular);
  line-height: 65px;
  font-family: var(--font-accent), sans-serif;
}

.heading__title {
  text-align: center;
  font-size: var(--h2-font-size);
  font-family: var(--font-accent), sans-serif;
  font-weight: var(--font-weight-regular);
  line-height: 23px;
}

.main__section-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 52px;
  max-inline-size: 700px;
}

.main__section-list-items {
  background-color: var(--bg-color);
  border: 2px solid var(--black-color);
}

.main__title {
  font-size: var(--text-card-font-size);
  font-weight: var(--font-weight-header);
  line-height: var(--h3-line-height);
  padding-inline-start: 10px;
  padding-block: 5.5px;
  font-variation-settings: "wght" 700;
}

.main__image {
  position: relative;
  display: block;
  line-height: 0;
  overflow: hidden;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

.img-main-filter {
  filter: hue-rotate(50deg) opacity(50%);
}

.image-intense {
  filter: hue-rotate(-34deg) saturate(2.8);
}

.image-fuzzy {
  filter: brightness(1.5) contrast(1.4) blur(2px);
}

.image-apathy {
  filter: brightness(1) saturate(4) contrast(0.2);
}

.image-bright {
  filter: sepia(0.1) saturate(5.5);
}

.image-dim {
  filter: sepia(1) hue-rotate(-130deg);
}

.image-clarified {
  filter: brightness(1.9) saturate(-0.5);
}

.image-neon {
  filter: brightness(0.4) saturate(4.3);
}

.image-dark {
  filter: grayscale(1) brightness(0.7);
}

.label {
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  font-family: var(--font-accent), sans-serif;
  font-size: var(--text-font-size);
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
  line-height: 100%;
  inset-block-start: 27px;
  inset-inline-end: 22px;
  opacity: 0.5;
  mix-blend-mode: hard-light;

@supports (text-stroke: 1px var(--text-outline-color)) or (-webkit-text-stroke: 1px var(--text-outline-color)) {
        text-shadow: 
            -1px -1px 0 var(--text-outline-color),
            1px -1px 0 var(--text-outline-color),
            -1px 1px 0 var(--text-outline-color),
            1px 1px 0 var(--text-outline-color);
        -webkit-text-stroke: 1px var(--text-outline-color);
        text-stroke: 1px var(--text-outline-color);
    }
}

.main__section-list-item {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline: 25px;
  padding-block: 25px;
  font-size: var(--text-card-font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--text-card-line-height);
}

.card__icon-button {
  background-color: transparent;
  outline-offset: -2px;
  border: transparent;
  cursor: pointer;
  transform-origin: center;
  align-self: start;
  block-size: 37px;
  margin-inline-end: 3px;
}

.card__like-button {
  min-inline-size: 130px;
}

.like-icon {
  width: 38px;
  color: var(--spaks-color);
  transition: fill 0.3s ease;
}

.button-heart-like {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  position: relative;
  background-color: var(--bg-color);
  align-self: start;
  outline: none;
  border: 2px solid var(--black-color);
  transition: box-shadow 0.2s ease;
  padding: 6px 17px;
  cursor: pointer;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: translate 0.5s ease-in-out;
  background-color: var(--black-color);
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--black-color);
  outline: transparent;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-accent), sans-serif;
  line-height: 12.6px;
  mix-blend-mode: difference;
  font-size: var(--text-font-size);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
  transition: outline-color 0.3s ease;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  align-self: center;
  padding-block: 18.5px;
  padding-inline: 19px 21px;
  margin-block-end: 103px;
}

.icon-disc {
  inline-size: 21px;
  block-size: 21px;
}

.floppy-icon {
  position: relative;
  align-self: center;
  justify-content: center;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

dialog {
  display: block;
  position: fixed;
  justify-content: center;
  inset: 0;
  border-width: 2px;
  z-index: 1;
  padding: 30px;
}

dialog:not([open]) {
  pointer-events: none;
  display: none;
} 

.modal-article {
  display: flex;
  flex-direction: column;
  max-width: 293px;
  gap: 30px;
}

.disc {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modal-title {
  width: 234px;
  line-height: 150%;
  font-size: var(--text-font-size);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-accent), sans-serif;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: var(--black-color);
  opacity: 0.75;
} 

.modal-icon-disk {
  inline-size: 39px;
  block-size: 39px;
  align-items: center;
  align-self: center;
}

.button-ok {
  width: 100%;
  text-transform: uppercase;
  padding-block: 8px;
}

.button-text-ok {
  text-transform: uppercase;
}

@media (width <= 375px) {

  .header {
    margin-block: 102px;
  }

  .header__logo {
    padding-block: 120px;
    padding-inline: 14px;
  }

  .header__title {
    line-height: 49px;
  }

  .heading__title {
    line-height: 14px;
  }

  .label {
    inset-inline-end: 13px;
  }

  .save-button {
    flex-direction: column;
    padding-block: 16px;
  }

  .icon-disc {
    inline-size: 28px;
    block-size: 28px;
  }
}